// Button Global
$ku-button-padding: 0 60px;
$ku-button-height: 80px;

// Primary
$ku-button--primary__background-color: pink;
$ku-button--primary__color: darkred;
$ku-button--primary__border: 1px solid red;

// Primary - hover
$ku-button--primary__background-color__hover: blue;
$ku-button--primary__color__hover: darkblue;

// Primary - focus
$ku-button--primary__border__focus: 1px solid #2d2d2d;